# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore backup folder
backup

# Ignore all backup files
*.bak

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache